@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

.app {
  min-height: 100vh;
  background-color: #e2cfea;
}

.grid-layout {
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}



@media screen and (max-width: 840px) {
  .grid-layout {
    grid-template-columns: 1fr;
  }
 
}
